@charset "UTF-8";


/*
   em HTML é id  = em CSS é # (só pode um elemento por documento!)
   em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(101, 199, 219);
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: rgb(84, 100, 221);
}

h1#principal {
    text-align: center;
    background-color: rgb(15, 114, 189) ;
    color: rgb(168, 255, 255);
}

h2{
    color: gray;
}

.basico{
    color: rgb(0, 255, 0);
    font-weight: bold;

}

.intermediario{
    color: rgb(255, 255, 0);
    font-weight: bold;

}

.avancado{
    color: red;
    font-weight: bold;
}

.destaque{
    background-color: rgb(215, 222, 135);
}
