@charset "UTF-8"; /*regras do css = utf-8*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #66F2F2, #09a1b2);
}

p{
    text-align: justify;

}

main{
    background-color: white;
    border-radius: 20px; /*= borda do site*/
    box-shadow: 5px 5px 15px #005183; /* sombra do site*/
    width: 600px;  /*= largura*/
    padding: 10px; /*= preenchimento*/
    margin:auto /*= centralização automática*/
}

h1{
    color: #A68B3C;
    text-align: center;
    text-shadow: 1px 1px 2px #e4ac02;
}

h2{
    color: #cf813d;
    font-family: Arial, Helvetica, sans-serif;
}